<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/static/header_file.css">
<link rel="stylesheet" type="text/css" href="/static/footer_file.css">
<link rel="stylesheet" type="text/css" href="/static/main.css">
<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


</head>
    <body>
    {% include "user_header.html" %}

<div class="custom-container" >
    <br>
    <h2 class="text-center">Welcome {{username}}...</h2>
    <br>

        <div class="text-center">
            <a href="/audio_to_text" class="btn btn-success btn-lg">Start Symptoms Checking</a>
        </div>

</div>
    </body>
    {% extends "footer.html" %}
    {% block footer%}fixed{% endblock %}
</html>
